<?xml version="1.0"?>
<configuration>


  <appSettings>
    <add key="ConfigMgrSiteServer" value="CM01"/>
    <add key="ConfigMgrSiteCode" value="C01"/>
    <add key="MDTDataBaseServer" value="CM01"/>
    <add key="MDTDatabase" value="MDT"/>
    <add key="LDAPDomainName" value="dc=corp,dc=viamonstra,dc=com"/>
    <add key="LDAPStartingOU" value="ou=Workstations,ou=ViaMonstra"/>
  </appSettings>
  <connectionStrings/>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" />
    <authentication mode="None" />

    <identity impersonate="true" userName="VIAMONSTRA\PrettyGoodFrontend" password="P@ssw0rd" />

    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
  </system.web>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="TraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="D:\PrettyGoodFrontend\tracing\wsfrontend.log"/>
      </listeners>
    </trace>
  </system.diagnostics>


</configuration>
